<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="SERVIDOR_MIRROR" value="BRVMSO"/>
    <!-- LOG_CONSULTAS: ON = HABILITADO | OFF = DESHABILITADO -->
    <add key="LOG_CONSULTAS" value="ON"/>
    <!-- LOG_REGISTRO: ON = HABILITADO | OFF = DESHABILITADO -->
    <add key="LOG_REGISTRO" value="ON"/>
    <add key="NOMBRE_APLICACION" value="APPSWITCH"/>
    <add key="USUARIO" value="DOS"/>
    <add key="PROTOCOLO_TCP" value="T"/>
    <add key="TERMINAL" value="TERM"/>
    <!-- PRIORIDAD: 02 SICRON | 01 = RSAT -->
    <add key="PRIORIDAD" value="02"/>
    <add key="TIME_OUT_SERVER" value="40"/>
    <add key="SERVIDOR_MIRROR_DESTINO" value="BRVMSO"/>
    <add key="SERVIDOR_MIRROR_NODE" value="BRVMSO"/>
    <add key="PUERTO" value="2000"/>
    <!-- CADENA CONEXION SQL SERVER -->
    <add key="SERVER_SQL" value="10.25.2.204"/>
    <add key="IPSERVER_SQL" value="10.25.2.204"/>
    <add key="BD_SQL" value="KIOSCONET_14_NOV_2014"/>
    <add key="USER_SQL" value="sa"/>
    <add key="PASSWORD_SQL" value="sa"/>
    <!-- INICIO - SERVICIOS SFSCAN -->
    <add key="SFSCAN_SALDO_FECHACORTE_CLASICA_RSAT" value="SFSCANT0114"/>
    <add key="SFSCAN_MOVIMIENTOS_CLASICA_RSAT" value="SFSCANT0109"/>
    <add key="SFSCAN_TARJETA_CLASICA_RSAT" value="SFSCANC0012"/>
    <add key="SFSCAN_DNI_CLASICAABIERTA_RSAT" value="SFSCANC0040"/>
    <add key="SFSCAN_SUPEREFECTIVO_RSAT" value="SFSCANC0041"/>
    <!-- FIN - SERVICIOS SFSCAN -->
    <add key="SERVICE_NAME_ORA" value="FISAD"/>
    <add key="USER_NAME_ORA" value="ripley_canal"/>
    <add key="PASSWORD_ORA" value="fisad04"/>
    <add key="SERVICE_NAME_ORAX" value="FINX1D"/>
    <add key="USER_NAME_ORAX" value="ripleymc"/>
    <add key="PASSWORD_ORAX" value="xxx"/>
    <add key="SERVICE_NAME_ORAXX" value="TDAX2D"/>
    <add key="USER_NAME_ORAXX" value="SIS_USR"/>
    <add key="PASSWORD_ORAXX" value="xxx"/>
    <add key="SERVICE_NAME_ORA_PUNTOS" value="TDAX2D"/>
    <add key="USER_NAME_ORA_PUNTOS" value="onl_adm"/>
    <add key="PASSWORD_ORA_PUNTOS" value="xxx"/>
    <!--Configuracion para el super efectivo-->
    <add key="SERVICE_NAME_ORA_SEF" value="(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.100.0.185)(PORT=1525)))(CONNECT_DATA=(SERVICE_NAME=finx2d)))"/>
    <add key="USER_NAME_ORA_SEF" value="eVTAEXP"/>
    <add key="PASSWORD_ORA_SEF" value="eVTAEXP"/>
    <!--Configuracion para Clave 6-->
    <add key="SERVICE_BRP_FISA" value="(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.25.2.193)(PORT=1530)))(CONNECT_DATA=(SERVICE_NAME=finx15d)))"/>
    <add key="USER_NAME_BRP_FISA" value="EEFISA_HBK"/>
    <add key="PASSWORD_BRP_FISA" value="EEFISA_HBK"/>
    <!--Configuracion para incremento de linea-->
    <add key="SERVICE_NAME_ORA_INC" value="(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.100.0.185)(PORT=1525)))(CONNECT_DATA=(SERVICE_NAME=finx2d)))"/>
    <!--<add key="SERVICE_NAME_ORA_INC" value="finx2d"/>-->
    <add key="USER_NAME_ORA_INC" value="eVTAEXP"/>
    <add key="PASSWORD_ORA_INC" value="eVTAEXP"/>
    <!-- Webservice Core RSAT -->
    <add key="WSCONSULTAS_MC_VS.defaultService" value="http://fad29:9082/six/webinvoker/defaultService"/>
    <add key="WS_GIF_CARD.wsgcpConsultaSaldo" value="http://rsides02/WS_GiftCard/wsgcpConsultaSaldo.asmx"/>
    <add key="IP_SERVER_MONITOR" value="10.25.4.109"/>
    <add key="PUERTO_SERVER_MONITOR" value="5555"/>
    <!--<add key="WS_GIF_CARD.ServiceRSat" value="http://fsides04.bancoripley.pe/WSRSatIncrementoLinea/WSRSatIncrementoLinea.ServiceRSat.svc"/>-->
    <add key="sMoneda" value="604"/>
    <add key="Nro_registros" value="5000"/>
    <add key="PathXML" value="C:\Inetpub\wwwroot\WSRSATVAutomatica"/>
    <!--Configuracion para FINX7Q2 Y Obtener los Factores-->
    <add key="SERVICE_NAME_ORA_SEF_FISA" value="(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.100.0.45)(PORT=1527)))(CONNECT_DATA=(SERVICE_NAME=finx7q2)))"/>
    <add key="USER_NAME_ORA_SEF_FISA" value="eappfisa"/>
    <add key="PASSWORD_ORA_SEF_FISA" value="pae33rip"/>
    <add key="LoginService.loginService" value="http://10.25.2.130:8280/mcm-omnia-services-bpr/loginService"/>
    <add key="PeriodoInclusionTEA" value="201412"/>
    <add key="FechaCaducidadPopUpInvasivo" value="20150430"/>
    <!--Configuracion para cambios en trama de EECC-->
    <add key="PeriodoAgrandarGlosa" value="201506"/>    
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.

            Visual Basic options:
            Set strict="true" to disallow all data type conversions 
            where data loss can occur. 
            Set explicit="true" to force declaration of all variables.
        -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <smtp from="rparra@bancoripley.com.pe" deliveryMethod="Network">
        <network defaultCredentials="false" host="mail.bancoripley.com.pe" port="25" userName="rparra@bancoripley.com.pe" password="Samsung2021" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>